* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  background: #000c22;
}
header {
  background-color: #fff;
  height: 65px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  justify-content: space-between; /*evently*/
  box-shadow: 0px 3px 10px 0 rgba(80, 119, 242, 0.3);
}
/* nav,
.inputSearch {
  display: none;
} */
nav ul {
  display: flex;
  list-style: none;
  /* left: 100%; */
  gap: 15px;
  padding: 0;
}
nav ul li {
  cursor: pointer;
}
nav ul li:hover {
  color: #038eff;
}
.inputSearch,
form {
  display: flex;
  align-items: center;
  height: 40px;
  /* background-color: #038eff; */
  width: 400px;
  border-radius: 35px;
  overflow: hidden;
  border: 1.5px solid #038eff;
}
.inputSearch input {
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  border: none;
  outline: none;
  font-size: 16px;
}
.inputSearch span {
  width: 70px;
  background-color: #5dc4e3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.menuBtn {
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menuBtn:hover {
  background-color: #038eff;
  color: #fff;
}
.desktop {
  display: none;
}
@media all and (min-width: 700px) {
  header {
    padding: 5px 30px;
  }
  .desktop {
    display: flex;
  }
  .menuBtn {
    display: none;
  }
}

/***mobile menu***/

.mobile {
  position: fixed;
  top: 80px;
  width: 100%;
  background-color: #f5f5f5;
  max-width: 700px;
  height: 100vh;
  padding: 20px;
  box-shadow: none;
  z-index: 2;
  margin-left: -10px;
}
.mobile.hidden {
  display: none;
}

.mobile nav,
.mobile nav ul {
  flex-direction: column;
}
.mobile .inputSearch {
  .mobile form {
    height: 35px;
  }
  /* width: 95%; */
}
.hidden {
  display: none;
}
@media all and (min-width: 700px) {
  .mobile {
    display: none;
  }
}

/***css card***/
main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  margin: auto;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  box-shadow: 7px 7px 25px 1px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 10px;
  background: #ffffff;
}
.card img {
  min-height: 210px;
  max-height: 210px;
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.card h4,
.card div {
  padding: 5px 10px;
  margin: 0px;
}
.publishbyDate {
  display: flex;
  align-items: center;
  color: #a5a1a1;
}
.publishbyDate p {
  margin: 0px;
  font-size: 14px;
}
.publishbyDate span {
  padding: 0px 10px;
}
.desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin: 0;
}
.card a {
  color: inherit;
  text-decoration: none;
}
@media all and (min-width: 700px) {
  main {
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card h4,
  .card div {
    padding: 5px 15px;
  }
}
